
/*  BODY STYLING*/
body{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

    /*  NAVIGATION BAR STYLING*/

    nav{
        background-color: #606060;
        border-color: transparent; 
        height: 80px;
        opacity: 95%;
    }

    /* change the original link*/
    .navbar-custom .navbar-nav .nav-link {
        font-size: 18px;
        font-family: Source Sans Pro;
        font-weight: 50;
        letter-spacing: 1px;
        color: #fff;
        
        /*border-right: 2px solid grey;
        height:10px;
        */
        padding: 30px;
    }

    /* change the hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #000000;
        background-color: #a8c6fa;
        opacity: 80%;
        transition-duration: 1s;
        padding-left: 40px;
        padding-right: 40px;
    }

    /* change the active links*/
    .navbar-custom .nav-item.active .nav-link{
        color: #a8c6fa;
        background-color: #000000;
        transition-duration: 2s;.
    }
    .navbar-toggle.active{
        border-color: transparent;
        background-color: #fff;
    }
    /*Lyra Logo*/
    .navbar-brand:hover{
        background-color: #000;
        opacity: 80%;
        transition-duration: 0.5s;
        transform: scale(1.1);
    }

    /* ---to be fixed-----such that the navbar is nt transparent in a small screen

    /*Icon Bar - The NavBar to be responsive in small devices

    .icon-bar{
        background-color: #606060;
        border-color: transparent;
        opacity: 90%;
    }

    */


/*SECTION-CONTAINER STYLING*/

    /*General(all) containers styling*/
    .row{
        padding-bottom: 40px;
        text-align: center;
        overflow-wrap: break-word;
        position: relative;
        display: inline-block;
        margin: 0 auto;
        width: 100%;
    }

    /*Headings*/

    #main_title{
        color: #444444;
        font-weight: 100;
        font-size: 40px;
        letter-spacing: 2px;
    }
    #sub_title{
        color: #444444;
        font-family: Source Sans Pro; 
        font-size: 18px;
        opacity: 80%;
        letter-spacing: 0.6px;
    }
    

    /*Intro-Container*/

    #slideshow{
        padding-top: 40px;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(212, 227, 252)), url('Images/background1.jpg');
        background-size: cover;
        height: 600px auto;
        opacity: 100%;
        background-repeat: no-repeat;
    }
    .slider{
        display: inline-block;
        text-align: center;
        overflow-wrap: break-word;
        background-color: #fff;
        width:80%;
        opacity: 100%;
        height: 300px;
        border-style: solid;
        border-width: 2px;
        border-color: #000;
        background-color: #fff;
        margin: 0 auto;
    }

    /*OUR-WORK CONTAINER*/
    #work{
        padding-top: 40px;
        height: 500px auto;
        background-color: #d4e3fc;
        background-image: linear-gradient(#d4e3fc, #a8c6fa);
        overflow-wrap: break-word;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #606060;
    }
    
        #wcard{
            padding-top: 10px;
            margin: 30px;
            display: inline-block;
            background-color: #fff;
            height: 200px;
            border-color: #606060;
            border-width: 3px;
            border-color: #606060;
            border-style: solid;
            border-radius: 10px 100px / 120px; 
        }
        #wcard:hover{
            animation: bounce 2s;
        }
        #workdiv{
            position: relative;
            display: inline;
            text-align: left;
        }
        h3{
            font-family: lato;
            letter-spacing: 0.9px;
        }
        #desc{
            font-family: Source Sans Pro;
            opacity: 80%;
            font-size: 14px;
            letter-spacing: 0.6px;
        }

    /*EXPERIENCE CONTAINER*/
    #exp{
        padding-top: 40px;
        text-align: center;
        height: 500px auto;
        background-color: #a8c6fa;
        background-image: linear-gradient(#a8c6fa, #d4e3fc);
        overflow-wrap: break-word;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #606060;

    }

        #expics{
            text-align: center;
            height: 80%;
            width:  80%;
            padding: 1px;
        }

        #expcard{
            text-align: center;
            padding-top: 0px;
            margin: 30px;
            display: inline-block;
            background-color: #fff;
            height: 80px auto;
        }

        #expdiv{
            text-align: center;
            position: relative;
            display: inline;
        }

    /*TESTIMONIALS*/
    #testimonials{
        padding-top: 40px;
        height: 500px auto;
        background-color: #d4e3fc;
        background-image: linear-gradient(#d4e3fc, #a8c6fa);
        overflow-wrap: break-word;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #606060;
    }
        #testcard{
            margin-left: 70px;
            border: 2px solid #a8c6fa;
            background-color: #fff;
            border-radius: 5px;
            padding: 16px;
        }
        #testcard img {
          float: left;
          margin-right: 20px;
          border-radius: 50%;
        }
        #testcard span {
          font-size: 20px;
          margin-right: 15px;
          font-family: lato;
        }
        #profession{
            font-family: Lucida Sans Unicode;
            font-weight: 300;
            opacity: 80%;
        }

    /*WE HIRE/ JOIN CONTAINER*/
    #interested{
        padding-top: 40px;
        height: 500px auto;
        background-color: #a8c6fa;
        background-image: linear-gradient(#a8c6fa, #fff);
        overflow-wrap: break-word;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-color: #606060;
    }

        #int_link:hover {
            background-color: #a8c6fa;
            color: #000;
            border-width: 6px;
            border-radius: 100;
            border-color: #000;
        }

        #circle_container{
            display: inline-block;
            position: relative;
        }

        #int_container{
            text-align: center;
            font-family: lato;
            font-size: 30px;

            transition-duration: 2s;

            padding: 100px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            width: 300px;
            height: 300px;
            border-color: #000;
            border-style: dotted;
            border-width: 2px;
        }

    #footer{
        text-align: center;
        padding-top: 30px;
        height: 150px auto;
        background-color: #606060;
    }
        #footer_navigation{
            color: #ebebeb; 
            font-family: Source Sans Pro; 
            font-size: 16px;
            font-weight: lighter;
        }
        #address{
            color: #ebebeb;
            font-family: Source Sans Pro; 
            font-size: 18px;
            font-weight: regular;
            padding-bottom: 0px;
        }
        #copyright{
            margin: 0px auto;
            color: #ebebeb;
            font-family: Source Sans Pro; 
            font-size: 18px;
            font-weight: regular;
        }
        #footlink{
            text-decoration: none;
            color: #fff;
        }
        #footlink:hover{
            color: #a8c6fa;
        }
        #footcol{
            text-align: center;
        }



    /*Animations*/


    /*Bounce animation*/
    @keyframes bounce {
        0%, 20%, 60%, 100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        40% {
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
        }

        80% {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
        }
    }



